.navbar {
  padding: 20px;
  background-color: #FFF5CD;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-color: tan;
}

.navbar a{
  color: black;
  font-family: Georgia, serif;
  margin-right: 10px;
  font-size: 200%
}

.hero {
  background-image: url("floodcar.jpg");
  padding: 350px;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero h1{
  color: black;
  border: 3px solid rgba(255, 0, 0, 0.5);
  max-width: 300px;
  background-color: #FFF5CD;
  font-family: Georgia, serif;
  font-size: 250%;
  border-color: tan;
}

.About, .History {
  width: 70%;
  margin:auto;
  margin-top: 60px;
  padding: 30px 60px 30px 60px;
  background-color: #FFF5CD;
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-color: tan;
  font-family: Georgia, serif;
  line-height: 1.8;
}

body {
  background-color: wheat;
}

.Gallery1, .Gallery2, .Gallery3, .Gallery4, .Gallery5 {
    display: none;
}

.MiniPics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
}

.MiniPics div{
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.Gallery-active {
  width: 70%;
  height: 500px;
  margin: auto;
  background-position: center;
  background-size: cover;
  display: block;
}

.Gallery1, .Mini1 {
  background-image: url("http://www.fergusonlibrarydigitalarchives.org/sites/default/files/styles/large/public/A59-529d.jpg");
}

.Gallery2, .Mini2 {
  background-image: url("http://www.fergusonlibrarydigitalarchives.org/sites/default/files/styles/large/public/A59-529c.jpg");
}

.Gallery3, .Mini3 {
  background-image: url("http://www.fergusonlibrarydigitalarchives.org/sites/default/files/styles/large/public/A59-529a.jpg");
}

.Gallery4, .Mini4 {
  background-image: url("http://www.fergusonlibrarydigitalarchives.org/sites/default/files/styles/large/public/A56-526.jpg");
}

.Gallery5, .Mini5 {
  background-image: url("http://www.fergusonlibrarydigitalarchives.org/sites/default/files/styles/large/public/A54-524.jpg");
}

.Map1 img, .Map2 img, .Map3 img {
    display: none;
}

.Map-active img {
  display: block;
}

.Mini6 {
  background-image: url("Carol1954.jpg");
}

.Mini7 {
  background-image: url("mwr1954.jpg");
}

.Mini8 {
  background-image: url("Hurricane1954.jpg");
}

.MapPics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin:auto;
}

.MiniMap {
  width: 40%;
  grid-template-columns: repeat(3, 1fr);
}

img, .imageBorder {
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-color: tan;
}

.imgDescription {
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-color: tan;
  background-color: #FFF5CD;
  height: 20px !important;
}
